:root {
  --transition: all 0.2s;
  --link-hover-color: #5B4CFF;
  --border: 1px solid #E5E7EB;
  --border-radius: 10px;
  --box-shadow: 0px 0px 11px -7px rgba(0,0,0,0.7);
}

.main {
  padding-inline: 20px;
  min-height: calc(100vh - 79px);
  margin-top: 30px;
}

.gradient-wrapper {
  background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #6366f1 100%);
}

.routes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-white {
  background-color: #fff;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 40px;
  padding-block: 30px;
  border-bottom: 1px solid #E5E7EB;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;

}

.nav-title {
  font-weight: bold;
  font-style: italic;
  cursor: default;
}

.nav-link {
  text-decoration: none;
  color: #111827;
  position: relative;
  transition: var(--transition);
}

.nav-link-profile {
  white-space: nowrap;
}

.nav-link-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 100%;
  border-radius: 15px;
  height: 3px;
  background-color: #8B7FFF;
}

.nav-link:hover {
  transition: var(--transition);
  color: var(--link-hover-color);
}

.form-wrapper {
  width: 500px;
  padding: 20px;
  border-radius: var(--border-radius);
  border: var(--border);
  box-shadow: var(--box-shadow);

}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-wrapper-danger {
  border: 1px solid red;
}

.form-button {
  width: 100%;
  font-size: 15px;
  border: none;
  background: #5B4CFF;
  color: white;
  padding: 11px;
  border-radius: 9px;
  transition: var(--transition);
  cursor: pointer;
}

.form-button:hover {
  background: #4338CA;
}

.button-error-container {
  margin-top: 10px;
}

.form-input {
  font-size: 15px;
  height: 30px;
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 9px;
  border: 1px solid #E5E7EB;
}

.title {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-error {
  border: 1px solid red;
}

.notification {
  color: red;
}

.button-error-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.registered {
  display: flex;
  flex-direction: column;
}

.profile {
  max-width: 800px;
  flex-grow: 1;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.profile-separator {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;
}

.profile-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-right: var(--border);
}

.profile-main {
  flex-grow: 1;
  border-left: var(--border);
  border-radius: var(--border-radius);
}

.profile-information {
  max-width: 400px;
  padding: 20px;
  border-radius: var(--border-radius);
}

.profile-title {
  margin: 0;
}

.profile-nav-link {
  cursor: pointer;
  transition: var(--transition);
}

.profile-nav-link:hover {
  color: var(--link-hover-color);
}

.profile-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}

.profile-values {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-text {
  color: #6B7280;
}

.profile-image {
  width: 100px;
  height: 60px;
}

body {
  font-family: Inter, Geneva, sans-serif;
  margin: 0;
}

p {
  margin: 0;
}
